@using Volo.Abp.UI.Navigation
@model ApplicationMenuItem
@{
    var elementId = string.IsNullOrEmpty(Model.ElementId) ? string.Empty : $"id=\"{Model.ElementId}\"";
    var cssClass = string.IsNullOrEmpty(Model.CssClass) ? string.Empty : Model.CssClass;
    var disabled = Model.IsDisabled ? "disabled" : string.Empty;

    if (Model.IsLeaf)
    {
        <li class="nav-item @cssClass @disabled" @elementId>
            <a class="nav-link @cssClass @disabled" href="@(Model.Url ?? "#")" @Html.Raw(elementId)>
                @if (Model.Icon != null)
                {
                    if (Model.Icon.StartsWith("fa"))
                    {
                        <i class="@Model.Icon"></i>
                    }
                }
                @Model.DisplayName
            </a>
        </li>
    }
    else
    {
        <li class="nav-item @cssClass @disabled" @elementId>
            <a href="#" class="nav-link">
                @if (!string.IsNullOrWhiteSpace(Model.Icon))
                {
                    <i class="@Model.Icon"></i>
                }
                <p>
                    @Model.DisplayName
                    <i class="right fas fa-angle-left"></i>
                </p>
            </a>
            <ul class="nav nav-treeview" style="display:none">
                @foreach (var childMenuItem in Model.Items)
                {
                    @await Html.PartialAsync("~/Themes/AdminLTE/Components/Menu/_MenuItem.cshtml", childMenuItem)
                }
            </ul>
        </li>
    }
}
