@using Volo.Abp.UI.Navigation
@model ApplicationMenu
@foreach (var menuItem in Model.Items)
{
    var elementId = string.IsNullOrEmpty(menuItem.ElementId) ? string.Empty : $"id=\"{menuItem.ElementId}\"";
    var cssClass = string.IsNullOrEmpty(menuItem.CssClass) ? string.Empty : menuItem.CssClass;
    var disabled = menuItem.IsDisabled ? "disabled" : string.Empty;
    if (menuItem.IsLeaf)
    {
        <li class="nav-item @cssClass @disabled" @elementId>
            <a class="nav-link" href="@(menuItem.Url ?? "#")">
                @if (menuItem.Icon != null)
                {
                    if (menuItem.Icon.StartsWith("fa"))
                    {
                        <i class="@menuItem.Icon"></i>
                    }
                }
                @menuItem.DisplayName
            </a>
        </li>
    }
    else
    {
        <li class="nav-item has-treeview">
            <a class="nav-link" href="#" id="Menu_@(menuItem.Name)">
                @if (menuItem.Icon != null)
                {
                    if (menuItem.Icon.StartsWith("fa"))
                    {
                        <i class="@menuItem.Icon"></i>
                    }
                }
                @menuItem.DisplayName
                <i class="right fas fa-angle-left"></i>
            </a>
            <ul class="nav nav-treeview" style="display: block;">
                    @foreach (var childMenuItem in menuItem.Items)
                    {
                        @await Html.PartialAsync("~/Themes/AdminLTE/Components/Menu/_MenuItem.cshtml", childMenuItem)
                    }
            </ul>
        </li>
    }
}